header {
    display: flex;
    align-items: center;
    background: var(--color-1);
}

.Nav {
    margin: 0 auto;
}

.Nav a {
    display: block;
    margin-left: 5vw;
    color: var(--color-2);
}

.Nav .isActive {
    color: var(--color-3);
}
