.Logo {
    margin-top: 10px;
}

.Logo > div {
    margin-top: -15px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.OrangeCircle {
    background: orange;
}

.GreenCircle {
    background: rgb(11, 180, 11);
}

.LogoText {
    margin-left: 0.5vw;
}
